<% @skills.each do |skill| %>
  	<h1> <%= skill.name %> </h1>
  	<% skill.builds.each do |build|%>
  		<li><%= link_to build.title, build.url %> by: <%= link_to build.author.name, build.author %></li>
  	<% end %>
<% end %>
<br>
