<% @skills.each do |skill| %>
  	<h1> <%= skill.name %> </h1>
  	<% skill.builds.each do |build|%>
  		<li><%= link_to build.title, build.url %> by: <%= link_to build.author.name, build.author %></li>
  	<% end %>
<% end %>
<h6> Previous 2.0 builds have been temporarily removed from viewing to make way for 2.1 builds. </h6>
<br>
