<% @builds.each do |hash| %>
  <% hash.each do |skill, builds| %>
  	<h1> <%= skill unless builds.length == 0%> </h1>
  	<% builds.each do |build| %>
  	  <li><%= link_to build.title, build.url %></li>
  	<% end %>
  <% end %>
<% end %>
